{% extends 'app/base.html' %}

{% block title %}
    Foydalanuvchi parolini tiklash
{% endblock %}

{% block content %}
    <h1>Parolni tiklash</h1>
    <p>Parolni tiklash uchun quyidagi formani to'ldiring!</p>
    {% if validlink %}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger ml-2">Parolni almashtirish</button>
    </form>
    {% else %}
        <p>Siz noto'gri linkdan foydalandingiz, u avvalroq foydalanilgan yoki muddati o'tgan bo'lishi mumkin</p>
    {% endif %}
    {{ request.user }}
{% endblock %}